<footer data-role="footer" class="main-foot">

  <div class="footer-top">
    <div class="wrapper">
      <ul class="no-li inline">
        <li class="footer-top--eu--li">
          <img src="/assets/w/img/footer/top/desktop/eu.png" class="footer-top--eu">
        </li>
        <li class="footer-top--gerald--li">
          <img src="/assets/w/img/footer/top/desktop/gerald.png" class="footer-top--gerald">
        </li>
        <li class="footer-top--18plus--li">
          <img src="/assets/w/img/footer/top/desktop/18plus.png" class="footer-top--18plus">
        </li>
        <li class="footer-top--wheel--li">
          <img src="/assets/w/img/footer/top/desktop/wheel.png" class="footer-top--wheel">
        </li>
      </ul>
    </div>
  </div>

  <div class="wrapper">
    <div class="cols box-links">
      <div class="col col16per">
        <strong>JUEGA</strong>
        <ul>
          <li>
            <a href="/es/euromillions/jugar" class="ui-link">EuroMillones</a>
          </li>
          <li>
            <a href="/es/loteria-navidad/jugar" class="ui-link">Lotería de Navidad</a>
          </li>
        </ul>
      </div>
      <div class="col col16per">
        <strong>NÚMEROS PREMIADOS</strong>
        <ul>
          <li>
            <a href="/es/euromillions/resultados" class="ui-link">Resultados EuroMillones</a>
          </li>
          <li>
            <a href="/es/euromillions/resultados/sorteos-anteriores" class="ui-link">Histórico EuroMillones</a>
          </li>
          <li>
            <a href="/es/loteria-navidad/resultados" class="ui-link">Resultados lotería de Navidad</a>
          </li>
        </ul>
      </div>
      <div class="col col20per">
        <strong>MI CUENTA</strong>
        <ul>
          <li>
            <a href="/es/ingreso" class="ui-link">Accede</a>
          </li>
          <li>
            <a href="/es/registro" class="ui-link">Regístrate</a>
          </li>
        </ul>
      </div>
      <div class="col col16per">
        <strong>AYUDA</strong>
        <ul>
          <li>
            <a href="/es/preguntas-frecuentes" class="ui-link">Preguntas frecuentes</a>
          </li>
          <li>
            <a href="/es/contacto" class="ui-link">Contáctanos</a>
          </li>
        </ul>
      </div>
      <div class="col col16per">
        <strong>ACERCA DE</strong>
        <ul>
          <li>
            <a href="/es/quienes-somos" rel="nofollow" class="ui-link">Quiénes somos</a>
          </li>
          <li>
            <a href="/es/terminos-y-condiciones" class="ui-link">Términos y condiciones</a>
          </li>
          <li>
            <a href="/es/privacidad" rel="nofollow" class="ui-link">Privacidad</a>
          </li>
          <li>
            <a href="/es/cookies" rel="nofollow" class="ui-link">Cookies</a>
          </li>
          <li>
            <a href="/es/datos" rel="nofollow" class="ui-link">Blog</a>
          </li>



        </ul>
      </div>
      <div class="col col16per">
        <strong>IDIOMAS</strong>
        <ul>
          <li><a href="https://euromillions.com" class="ui-link">Inglés</a></li>
          <li><a href="https://euromillions.com/ru" class="ui-link">Ruso</a></li>
          <li><a href="https://euromillions.com/es" class="ui-link">Español</a></li>
          <li><a href="https://euromillions.com/it" class="ui-link">Italiano</a></li>
          <li><a href="https://euromillions.com/nl" class="ui-link">Holandés</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <div class="cards-block">
      <div class="inner">

        <ul class="no-li inline">
          <li class="visa-li">
            <a href="http://www.visaeurope.com/" class="visa-a ui-link" title="Visa Europe" rel="nofollow">
              <img src="/assets/w/img/footer/cards/desktop/visa.png">
            </a>
          </li>
          <li class="master-li">
            <a href="http://www.mastercard.com/" class="master-a ui-link" title="Mastercard" rel="nofollow">
              <img src="/assets/w/img/footer/cards/desktop/mastercard.png">
            </a>
          </li>
          <li class="comodo-li">
            <a href="https://www.comodo.com/" class="comodo-a ui-link" title="Comodo" rel="nofollow">
              <img src="/assets/w/img/footer/cards/desktop/comodo.png">
            </a>
          </li>
          <li class="pcidss-li">
            <a href="#" class="pcidss-a ui-link" title="PCI DSS Compliant">
              <img src="/assets/w/img/footer/cards/desktop/pci-dss-compliant.png">
            </a>
          </li>















        </ul>
      </div>

    </div>
  </div>


  <div class="wrapper">
    <div class="copyright-text">

      <p>
        Este servicio opera bajo la Licencia de Juego #5536/JAZ autorizada y regulada por el Gobierno de Curazao. Este sitio es operado por Panamedia B.V., Emancipatie Boulevard 29, Willemstad, Curazao y los servicios de procesamiento de pagos son proporcionados por Panamedia International Limited, 30/3 Calle Sir Augustus Bartolo, XBX 1093, Ta Xbiex Malta (UE). Todas las transacciones se cobran en Euros. Los precios que se muestran en otras monedas son solo informativos y se convierten según las tasas de cambio reales.            </p>
      <p>
        Copyright © 2011-2018 EuroMillions.com. Todos los derechos reservados.            </p>

    </div>
  </div>
</footer>
